<% optional = optional || false %>
<% default_val = Hash.new unless default_val %>
<% default_val_blank = default_val.values.all?(&:blank?) %>
<% required = !optional || !default_val_blank %>
<div class="team-member-block team-leader">
  <div class="header">
    <h3>
      Team <%= name.humanize %>
    <%= "<small class='text-muted'>(Optional)</small>".html_safe if optional %>
    </h3>
    <% if optional %>
      <a class="btn pull-right add-remove-member <%= 'danger' unless default_val_blank %>">
        <%= fa_icon default_val_blank ? 'plus' : 'minus' %>
      </a>
    <% end %>
  </div>
  <div class="animated body <%= optional and default_val_blank ? 'optional' : 'required' %>">
      <%= f.input :name, placeholder: 'Name', required: required, input_html: {value: default_val[:name]} %>
      <%= f.input :phone, placeholder: 'Mobile No', required: required, input_html: {value: default_val[:phone]} %>
      <% if name == 'leader' %>
          <%= main.input :email, placeholder: 'Contact Email', required: required, error: 'This e-mail has already been used to register a team' %>
          <%= main.input :password, placeholder: 'Password', required: required, error: 'Password should be atleast 6 characters' %>
          <%= main.input :password_confirmation, placeholder: 'Password Confirmation', required: required, error: 'Password does not match' %>
      <% end %>
      <%= render partial: 'teams/shared/upload_file', locals: {f:f, name: 'college_id', upload: "College ID", required: required } %>
      <%= f.input :github, placeholder: 'Github Profile Link', required: required,input_html: {value: default_val[:hackerearth]} %>
      <%= f.input :linkedin, placeholder: 'LinkedIn Profile Link', required: required,input_html: {value: default_val[:linkedin]} %>
      <%= f.input :hackerearth, placeholder: 'Hackerearth Profile Link' + (name != 'leader' ? ' (Optional)' : ''), required: name == 'leader',input_html: {value: default_val[:hackerearth]} %>
    <%= f.input :projects, placeholder: 'Describe Your Past Projects (Optional)', required: false,input_html: {value: default_val[:projects]} %>
  </div>
</div>
