<section class="showcase">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 my-auto showcase-text">
        <h2>SCHEDULE</h2>
        <p class="lead mb-0">
          <span>
              31<sup>st</sup> March - 1<sup>st</sup> April.<br>Special. Unforgettable. Spectacular.<br>Fun is and should be the priority one.
          </span>
          <%= link_to 'View Schedule', schedule_path, class: 'btn btn-primary-outline' %>
        </p>
      </div>
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path('events.jpg') %>');"></div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path('participate.png') %>');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>PARTICIPATE</h2>
        <p class="lead mb-0 participateShowcase">
          <span>
            Participating in BitCamp is really simple. Just Complete Registration of your team by clicking the button below.
          </span>
          <%= link_to 'Register Your Team', new_team_registration_path, class: 'btn btn-primary-outline' %>
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 my-auto showcase-text">
        <h2>WHERE ?</h2>
        <p class="lead mb-0">
          <span>
            Located in the heart of Navi Mumbai, Ramrao Adik Insitutue Of Technology has great infrastructure to support the needs of a modern hackathon.
          </span>
          <a class="btn btn-primary-outline viewLocation" href="https://maps.google.com/?q=Ramrao+Adik+Institute+Of+Technology,+Nerul" target="_blank" >View Location</a>
        </p>
      </div>
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path('rait_building.jpg') %>');"></div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path('travel_reimbursements.png') %>'); background-size: 50%; background-repeat: no-repeat; background-position: center;"></div>
        <div class="col-lg-6 my-auto showcase-text">
            <h2>TRAVEL REIMBURSEMENTS ?</h2>
            <p class="lead mb-0">
                <span>
                    For all the participants coming from outside of Maharashtra, travel reimbursement capped at a specific amount depending upon your city would be provided.
                </span>
            </p>
        </div>
    </div>
  </div>
</section>
