<section id="sponsors" class="sponsors text-center">
  <div class="container">
    <h2 class="mb-5">OUR SPONSORS</h2>
    <div class="sponsor-row row">
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://www.facebook.com/groups/DevCMumbai/about/" target="_blank">
          <img class="s-logo main" src="<%= image_path 'sponsor_devc.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://www.github.com" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_github.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://www.jetbrains.com" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_jetbrains.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://www.wolfram.com" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_wolfram.png' %>" />
        </a>
      </div>
    </div>
    <div class="sponsor-row row">
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://www.sketchapp.com/" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_sketch.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://hackerearth.com" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_hackerearth.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="https://www.riidl.org" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_riidl.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <a href="http://get.tech" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_dottech.png' %>" />
        </a>
      </div>
      <div class="col-sm-12 col-lg-12 d-flex flex-column justify-content-center align-items-center">
        <a href="https://frapp.in" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_frapp.png' %>" />
        </a>
      </div>
    </div>
  </div>
</section>
