<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <%= render "shared/bitcamp_animation" %>
    </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>COMPETE FOR 36 HOURS TO EXPRESS YOUR</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="<%=image_path 'technical_skill.png' %>" />
          </div>
          <h3>Technical Skills</h3>
          <p class="lead mb-0">Compete among the best teams to demonstrate your technical knowledge</p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="<%=image_path 'creative_skill.png' %>" />
          </div>
          <h3>Creative Skills</h3>
          <p class="lead mb-0">Get a chance to transform your unique idea into something real in a chilled environment</p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="<%=image_path 'design_skill.png' %>" />
          </div>
          <h3>Designing Skills</h3>
          <p class="lead mb-0">Good at making things look good? You'll be in a perfect environment. Please change this later.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-sm-6 col-lg-6 my-auto showcase-text">
        <h2>EVENTS</h2>
        <p class="lead mb-0">
          <span>
            Special. Unforgettable. Spectacular. Fun is and should be the priority one.
          </span>
          <a class="btn btn-primary-outline" href="/events">View All Events</a>
        </p>
      </div>
      <div class="col-lg-6 col-sm-6  text-white showcase-img" style="background-image: url('<%= image_path('events.jpg') %>');"></div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 col-sm-6 text-white showcase-img" style="background-image: url('<%= image_path('participate.png') %>');"></div>
      <div class="col-sm-6 col-lg-6 my-auto showcase-text">
        <h2>PARTICIPATE</h2>
        <p class="lead mb-0 participateShowcase">
          <span>
            Participating in BitCamp is really simple. Just Complete Registration of your team by clicking the button below.
          </span>
          <a class="btn btn-primary-outline" href="/register_team">Register Your Team</a>
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 col-sm-6 my-auto showcase-text">
        <h2>WHERE ?</h2>
        <p class="lead mb-0">
          <span>
            Located in the heart of Navi Mumbai, Ramrao Adik Insitutue Of Technology has great infrastructure to support the needs of a modern hackathon.
          </span>
          <a class="btn btn-primary-outline viewLocation" href="/view_location">View Location on Map</a>
        </p>
      </div>
      <div class="col-lg-6 col-sm-6 text-white showcase-img" style="background-image: url('<%= image_path('rait_building.jpg') %>');"></div>
    </div>
  </div>
</section>

<!-- Previous Bitcamps -->
<%= render 'previous_bitcamp' %>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">WHAT PEOPLE ARE SAYING...</h2>
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-1.jpg' %>" alt="">
          <h5>Person 1</h5>
          <p class="font-weight-light mb-0">Todo testimonial 1</p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-2.jpg' %>" alt="">
          <h5>Person 2</h5>
          <p class="font-weight-light mb-0">Todo testimonial 2</p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-3.jpg' %>" alt="">
          <h5>Person 3</h5>
          <p class="font-weight-light mb-0">Todo testimonial 3</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section class="sponsors text-center">
  <div class="container">
    <h2 class="mb-5">OUR SPONSORS</h2>
    <div class="sponsor-row row">
      <div class="col-sm-6 col-lg-6 d-flex flex-column justify-content-center align-items-center">
          <a href="http://get.tech" target="_blank">
            <img class="s-logo" src="<%= image_path 'sponsor_1.png' %>" />
          </a>
      </div>
      <div class="col-sm-6 col-lg-6 d-flex flex-column justify-content-center align-items-center">
          <a href="https://hackerearth.com" target="_blank">
            <img class="s-logo" src="<%= image_path 'sponsor_2.png' %>" />
          </a>
      </div>
    </div>
  </div>
</section>

