<div class="team-dashboard container">
  <h1>Dashboard</h1>
  <div class="d-flex justify-content-between">
    <h2>Team ID - <%= current_team.team_id %></h2>
    <h2>Team Name - <%= current_team.name %></h2>
    <h2>College - <%= current_team.college_name.split.map {|name| name[0].chr}.join('.').upcase %></h2>
  </div>
  <div class="d-flex">
    <div class="members"> 
      <h2>Members</h2>
      <div class="members-container mr-4">
        <% valid_member = 0 %>
        <% current_team.members.each do |member| %>
          <% if !member.name.blank? %>
            <% valid_member += 1 %>
            <div class="member-container">
              <div class="member display-4">
                <%= member.name %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="add-member-container">
        <% if valid_member < 4 %>
            <a class="btn btn-primary-outline add-member-btn" href="#" data-toggle="modal" data-target="#add-team-member-modal">Add Member</a>
        <% else %>
            <a class="btn btn-primary-outline add-member-btn disabled" href="#">Your Team is Full</a>
        <% end %>
      </div>
    </div>
    <div class="submit-abstract pl-4">
      <h2>Placeholder</h2>
      <div class="submit-abstract-container">
      </div>
    </div>
  </div>
</div>
<%= render 'shared/add_team_member' %>