<!DOCTYPE html>
<html>
  <head>
    <title>BitCamp2k18</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'bitcamp_logo.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!— Global site tag (gtag.js) - Google Analytics —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108423528-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108423528-2');
    </script>
  </head>

  <body>
    <div>
      <%= render 'shared/navbar' %>
      <% if notice %>
        <p class="alert alert-success text-center"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger text-center"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/contact' %>
  </body>
</html>
